Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    format-biome:
      run: npx biome format ./src --write
    lint-biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint-ts:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx tsc --noEmit
    lint-astro:
      glob: '*.{astro}'
      run: npm run astro check
    lint-markup:
      glob: '*.{astro,tsx}'
      run: npm run lint:markup

add202411092041
  src/config/panda/utils.ts
Due: lint-biome, lint-ts

add202411092130
  src/config/panda/utils.ts
Due: lint-biome, lint-ts

add202411092255
  biome.json
Due: lint-biome, lint-ts

add202411092317
  panda.config.ts
Due: lint-biome, lint-ts

add202411100909
  package.json
Due: lint-biome, lint-ts

add202411102212
  .vscode/settings.json
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411120937
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411121050
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411122056
  panda.config.ts
Due: lint-biome, lint-ts

add202411161506
  .markuplintrc.mjs
  biome.json
  eslint.config.mjs
  panda.config.ts
  src/config/panda/utils.ts
  src/pages/img.astro
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411161852
  eslint.config.mjs
  panda.config.ts
  src/config/panda/utils.ts
Due: lint-biome, lint-ts

add202411161923
  panda.config.ts
Due: lint-biome, lint-ts

add202411161929
  eslint.config.mjs
Due: lint-biome, lint-ts

add202411162236
  .vscode/settings.json
  eslint.config.mjs
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411162313
  eslint.config.mjs
Due: lint-biome, lint-ts

add202411162314
  .vscode/settings.json
Due: lint-biome, lint-ts

add202411171058
  eslint.config.mjs
  panda.config.ts
Due: lint-biome, lint-ts

add202411171406
  eslint.config.mjs
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411181612
  .vscode/settings.json
  eslint.config.mjs
Due: lint-biome, lint-ts

add202411181930
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411192024
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411220400
  .vscode/settings.json
  panda.config.ts
  src/config/panda/creators/animationNames.ts
  src/config/panda/creators/globalStyles.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411221117
  eslint.config.mjs
  src/components/Card.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202411221136
  .stylelintrc.mjs
  .vscode/extensions.json
  lefthook.yml
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202411221149
  .vscode/settings.json
Due: lint-biome, lint-ts

add202411221206
  .stylelintignore
Due: none

add202411221258
  eslint.config.mjs
  panda.config.ts
  src/layouts/Layout.astro
  src/layouts/bodyGTM/BodyGTM.astro
Due: lint-biome, lint-ts, lint-markup

add202411221915
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202411221958
  .markuplintrc.mjs
  .textlintrc.js
  astro.config.mjs
  biome.json
  eslint.config.mjs
  panda.config.ts
  postcss.config.cjs
  src/components/app.tsx
  src/components/category/Category.astro
  src/components/category/utils.ts
  src/components/pagination/utils.ts
  src/components/toc/TOC.tsx
  src/config/panda/creators/animationNames.ts
  src/config/panda/creators/globalStyles.ts
  src/config/panda/types.ts
  src/config/panda/utils.ts
  src/content/config.ts
  src/layouts/head/Head.astro
  src/pages/blog/[categorySlug]/[page].astro
  src/pages/blog/[page].astro
  src/pages/blog/[slug].astro
  src/pages/example.astro
  src/pages/img.astro
  src/pages/index.astro
  src/pages/panda.astro
  src/pages/robots.txt.ts
  src/templates/blog/slug/BlogSlug.astro
  src/utils/content.ts
Due: lint-biome, lint-ts, lint-markup

add202411222011
  src/components/category/Category.astro
Due: lint-biome, lint-ts, lint-markup

add2024112232216
  package-lock.json
Due: lint-biome, lint-ts

add202412010102
  package.json
  sharp.config.mjs
Due: lint-biome, lint-ts

add202412021646
  .vscode/settings.json
  src/components/image/utils.ts
Due: lint-biome, lint-ts

add202412022335
  src/components/image/utils.ts
Due: lint-biome, lint-ts

add202412030112
  src/assets/images/page/ship.jpg
  src/components/image/utils.ts
Due: lint-biome, lint-ts

add202412031057
  src/components/image/utils.ts
Due: lint-biome, lint-ts

add202412031524
  src/components/image/Image.astro
  src/components/image/utils.ts
Due: lint-biome, lint-ts, lint-markup

add202412031819
  eslint.config.mjs
Due: lint-biome, lint-ts
