Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    format-biome:
      run: npx biome format ./src --write
    lint-biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint-ts:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx tsc --noEmit
    lint-astro:
      glob: '*.{astro}'
      run: npm run astro check
    lint-markup:
      glob: '*.{astro,tsx}'
      run: npm run lint:markup

add202407231330
  src/assets/images/content/authors/anonymous/general.webp
  src/assets/images/content/authors/hanako-suzuki/general.webp
  src/assets/images/content/authors/taro-yamada/general.webp
  src/pages/404.astro
Due: lint-biome, lint-ts, lint-markup

add202407231333
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202407231335
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202407231339
  .vscode/settings.json
  src/pages/blog/[...slug].astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407231341
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202407231342
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202407231533
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
  src/content/config.ts
Due: lint-biome, lint-ts

add202407231640
  src/content/blog/second-post.mdx
  src/pages/blog/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407231930
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202407251646
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407251650
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407271853
  src/layouts/head/Head.astro
Due: lint-biome, lint-ts, lint-markup

add202408101216
  .markuplintrc.mjs
  .vscode/settings.json
  src/components/toc/Toc.tsx
  src/components/toc/types.ts
  src/content/authors/hanako-suzuki.json
  src/content/blog/second-post.mdx
  src/content/config.ts
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408101740
  src/content/blog/second-post.mdx
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408101742
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408101812
  src/components/toc/Toc.tsx
  src/content/blog/second-post.mdx
Due: lint-biome, lint-ts, lint-markup

add202408101814
  src/content/blog/second-post.mdx
Due: none

add202408102315
  src/components/toc/Toc.tsx
  src/components/toc/types.ts
Due: lint-biome, lint-ts, lint-markup

add202408112003
  src/components/toc/Toc.tsx
  src/components/toc/types.ts
Due: lint-biome, lint-ts, lint-markup

add202408112011
  package.json
Due: lint-biome, lint-ts

add202408120013
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .textlintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  lefthook.yml
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202408121438
  .textlintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
Due: lint-biome, lint-ts

VS Code push test
  src/components/toc/Toc.tsx
  src/content/blog/second-post.mdx
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408121946
  src/content/blog/second-post.mdx
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408151949
  README.md
Due: none

add202408152024
  .textlintrc.js
  README.md
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202408171349
  .markdownlint.jsonc
  .vscode/settings.json
  lefthook.yml
  package-lock.json
  package.json
  src/content/blog/second-post.mdx
Due: lint-biome, lint-ts

add202408171357
  package.json
Due: lint-biome, lint-ts

add202408171358
  package.json
Due: lint-biome, lint-ts

add202408171400
  src/content/blog/second-post.mdx
Due: none

add202408171412
  .vscode/settings.json
  a.mdx
Due: lint-biome, lint-ts

add202408171416
  a.mdx
  package.json
  src/content/blog/second-post.mdx
Due: lint-biome, lint-ts

add202408171418
  a.mdx
  src/content/blog/second-post.mdx
Due: none

add202408171426
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202408171433
  .vscode/extensions.json
Due: lint-biome, lint-ts

add202408171435
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408171638
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202408171640
  package-lock.json
  package.json
Due: lint-biome, lint-ts
