Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    format-biome:
      run: npx biome format ./src --write
    lint-biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint-ts:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx tsc --noEmit
    lint-astro:
      glob: '*.{astro}'
      run: npm run astro check
    lint-markup:
      glob: '*.{astro,tsx}'
      run: npm run lint:markup

add202409201812
  astro.config.mjs
  package-lock.json
  package.json
  src/content/config.ts
  src/data/authors/saki-suzuki.json
  src/data/authors/taro-yamada.json
  src/data/blog/eighth-post.mdx
  src/data/blog/eleventh-post.mdx
  src/data/blog/fifth-post.mdx
  src/data/blog/first-post.md
  src/data/blog/fourth-post.mdx
  src/data/blog/ninth-post.mdx
  src/data/blog/second-post.mdx
  src/data/blog/seventh-post.mdx
  src/data/blog/sixth-post.mdx
  src/data/blog/tenth-post.mdx
  src/data/blog/third-post.mdx
  src/data/blog/twelfth-post.mdx
  src/layouts/head/Head.astro
  src/pages/blog/[slug].astro
  src/pages/img.astro
  src/templates/blog/page/BlogPage.astro
  src/templates/blog/slug/BlogSlug.astro
  src/utils/content.ts
  src/utils/path.ts
  tsconfig.json
Due: lint-biome, lint-ts, lint-markup

add202409211027
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202409211543
  package.json
  src/layouts/head/Head.astro
  src/pages/index.astro
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202409212234
  .vscode/settings.json
  panda.config.ts
  src/components/atomics/accordion/Accordion.tsx
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202409220743
  package.json
Due: lint-biome, lint-ts

add202409222140
  panda.config.ts
  src/layouts/head/Head.astro
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202409231507
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202409231928
  panda.config.ts
Due: lint-biome, lint-ts

add202409280853
  panda.config.ts
  src/pages/index.astro
  src/pages/panda.astro
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409280922
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202409281026
  .vscode/settings.json
  src/components/category/styles.ts
Due: lint-biome, lint-ts

add202409281051
  .vscode/settings.json
  README.md
Due: lint-biome, lint-ts

add202409281054
  .vscode/settings.json
Due: lint-biome, lint-ts

add202409281229
  .vscode/settings.json
Due: lint-biome, lint-ts

add202409281331
  package.json
  panda.config.ts
Due: lint-biome, lint-ts

add202410120803
  panda.config.ts
  src/config/panda/types.ts
  src/config/panda/utils.ts
  src/pages/blog/[page].astro
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202410120809
  package.json
Due: lint-biome, lint-ts

add202410120825
  src/data/blog/eighth-post.mdx
  src/data/blog/eleventh-post.mdx
  src/data/blog/fifth-post.mdx
  src/data/blog/first-post.md
  src/data/blog/fourth-post.mdx
  src/data/blog/ninth-post.mdx
  src/data/blog/second-post.mdx
  src/data/blog/seventh-post.mdx
  src/data/blog/sixth-post.mdx
  src/data/blog/tenth-post.mdx
  src/data/blog/third-post.mdx
  src/data/blog/twelfth-post.mdx
Due: none

add202410120958
  src/data/blog/eighth-post.mdx
  src/data/blog/eleventh-post.mdx
  src/data/blog/fifth-post.mdx
  src/data/blog/first-post.md
  src/data/blog/fourth-post.mdx
  src/data/blog/ninth-post.mdx
  src/data/blog/second-post.mdx
  src/data/blog/seventh-post.mdx
  src/data/blog/sixth-post.mdx
  src/data/blog/tenth-post.mdx
  src/data/blog/third-post.mdx
  src/data/blog/twelfth-post.mdx
Due: none

add202410121701
  src/data/blog/fourth-post.mdx
  src/pages/blog/[page].astro
  src/utils/content.ts
Due: lint-biome, lint-ts, lint-markup

add202410132325
  panda.config.ts
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202410262352
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202411021605
  panda.config.ts
  src/config/panda/utils.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411032218
  panda.config.ts
  src/config/panda/types.ts
  src/config/panda/utils.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411040747
  panda.config.ts
  src/config/panda/types.ts
  src/config/panda/utils.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411040755
  panda.config.ts
Due: lint-biome, lint-ts

add202411041626
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411041628
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411041637
  panda.config.ts
Due: lint-biome, lint-ts

add202411041735
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411041810
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411042003
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411042025
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411051116
  package.json
Due: lint-biome, lint-ts

add202411051445
  eslint.config.mjs
  panda.config.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411051953
  panda.config.ts
  src/config/panda/types.ts
  src/config/panda/utils.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411091751
  panda.config.ts
  src/config/panda/types.ts
  src/config/panda/utils.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202411092033
  panda.config.ts
  src/config/panda/utils.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup
