Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lint-biome:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

lint-ts:
  run: npx tsc --noEmit

lint-astro:
  run: npm run build

lint-markup:
  run: npm run lint:markup

add202507042039
  package.json
Due: lint-biome, lint-ts

add202507081112
  biome.json
Due: lint-biome, lint-ts

add202507081114
  db.json
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202507091058
  db.json
  package.json
  src/mocks/README.md
  src/mocks/db.json
  src/mocks/routes.json
Due: lint-biome, lint-ts

add202507091101
  src/mocks/README.md
Due: none

add202507091127
  src/components/avatar/Avatar.astro
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

Delete src/components/avatar/avatar.astro
  src/components/avatar/avatar.astro
Due: lint-biome, lint-ts, lint-markup

add202507091147
  src/components/avatar/Avatar.astro
  src/components/avatar/avatar.astro
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202507091152
  src/components/avatar/Avatar.astro
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202507091904
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202507091907
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202507091921
  package.json
  src/actions/index.ts
Due: lint-biome, lint-ts

add202507091922
  src/actions/index.ts
Due: lint-biome, lint-ts

add202507092057
  src/components/index.ts
  src/global.d.ts
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202507092113
  src/env.d.ts
  src/global.d.ts
Due: lint-biome, lint-ts

add202507101128
  eslint.config.mjs
  src/components/avatar/Avatar.astro
  src/components/index.ts
  src/components/media/picture/Picture.astro
  src/layouts/aside/Aside.astro
  src/pages/img.astro
  src/templates/blog/page/BlogPage.astro
  src/templates/blog/slug/BlogSlug.astro
  src/templates/todos/components/Index.astro
  src/templates/todos/components/fetch/FetchRadioGroupOrTabs.astro
Due: lint-biome, lint-ts, lint-markup

add202507101254
  eslint.config.mjs
  src/actions/index.ts
  src/assets/icons/index.ts
  src/components/index.ts
Due: lint-biome, lint-ts

add202507101633
  eslint.config.mjs
  src/components/radioGroupOrTabs/RadioGroupOrTabs.astro
  src/templates/register/Register.tsx
  src/templates/todos/components/Index.astro
  src/templates/todos/components/Store.tsx
Due: lint-biome, lint-ts, lint-markup

git202507101810
  eslint.config.mjs
Due: lint-biome, lint-ts

add202507102051
  eslint.config.mjs
Due: lint-biome, lint-ts

add202507102200
  src/assets/icons/assistant-navigation-fill.svg
  src/assets/icons/assistant-navigation.svg
  src/assets/icons/delete-sweep-fill.svg
  src/assets/icons/delete-sweep.svg
  src/assets/icons/first-page.svg
  src/assets/icons/indeterminate-check-box-fill.svg
  src/assets/icons/indeterminate-check-box.svg
  src/assets/icons/index.ts
  src/assets/icons/keyboard-double-arrow-up.svg
  src/assets/icons/settings-backup-restore.svg
  src/assets/icons/sync-problem.svg
  src/assets/icons/view-timeline-fill.svg
  src/assets/icons/view-timeline.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202507102208
  src/assets/icons/index.ts
  src/assets/icons/view-timeline-fill.svg
  src/assets/icons/view-timeline.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202507102219
  src/assets/icons/first-page.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202507102237
  src/assets/icons/index.ts
  src/assets/icons/keyboard-double-arrow-up.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202507102317
  src/assets/icons/index.ts
  src/assets/icons/settings-backup-restore.svg
  src/assets/icons/sync-problem.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202507102330
  src/assets/icons/assistant-navigation-fill.svg
  src/assets/icons/assistant-navigation.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202507122202
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202507131723
  src/templates/users/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202507150948
  src/actions/users.ts
  src/templates/users/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202507151053
  src/templates/users/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202507221203
  src/actions/index.ts
  src/actions/newsletter.ts
  src/templates/users/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202507241119
  src/pages/users/index.astro
Due: lint-biome, lint-ts, lint-markup

add202507241124
  src/pages/users/index.astro
Due: lint-biome, lint-ts, lint-markup

add202507241145
  astro.config.mjs
Due: lint-biome, lint-ts

Path conditions:
  lint-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  lint-ts: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  lint-astro: any of: *.{astro}
  lint-markup: any of: *.{astro,tsx}
