Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    format-biome:
      run: npx biome format ./src --write
    lint-biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint-ts:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx tsc --noEmit
    lint-astro:
      glob: '*.{astro}'
      run: npm run astro check
    lint-markup:
      glob: '*.{astro,tsx}'
      run: npm run lint:markup

add202407031230
  panda.config.ts
Due: lint-biome, lint-ts

add202407031333
  eslint.config.mjs
  package-lock.json
  package.json
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407041920
  eslint.config.mjs
Due: lint-biome, lint-ts

add202407051154
  biome.json
Due: lint-biome, lint-ts

add202407051305
  .vscode/settings.json
  biome.json
Due: lint-biome, lint-ts

add202407061353
  .vscode/settings.json
  src/components/Card.astro
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/example.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407061518
  .vscode/settings.json
Due: lint-biome, lint-ts

add202407061620
  .vscode/settings.json
Due: lint-biome, lint-ts

add202407142018
  .markuplintrc.mjs
  .vscode/settings.json
  package.json
  public/apple-touch-icon.png
  public/favicon.png
  public/favicon.svg
  public/ogp/general.webp
  src/layouts/HeadGTM.html
  src/layouts/Layout.astro
  src/layouts/head/types.ts
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407151929
  .markuplintrc.mjs
  package.json
  src/layouts/Layout.astro
  src/layouts/head/Head.astro
  src/layouts/head/HeadGTM.html
  src/layouts/head/types.ts
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407151947
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202407161627
  package.json
Due: lint-biome, lint-ts

add202407161628
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202407161633
  lefthook.yml
  package.json
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202407161733
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  lefthook.yml
  src/layouts/Layout.astro
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202407161741
  lefthook.yml
Due: none

add202407161951
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .vscode/extensions.json
  astro.config.mjs
  package-lock.json
  package.json
  src/layouts/head/Head.astro
  src/pages/robots.txt.ts
Due: lint-biome, lint-ts, lint-markup

VS Code push test
  .markuplintrc.mjs
  .vscode/settings.json
  src/layouts/Layout.astro
  src/layouts/footer/Footer.astro
  src/layouts/head/Head.astro
  src/layouts/header/Header.astro
  src/pages/example.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407181232
  src/pages/example.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407191254
  src/layouts/head/Head.astro
  src/layouts/head/types.ts
  src/pages/example.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407191255
  src/layouts/head/Head.astro
Due: lint-biome, lint-ts, lint-markup

add202407191256
  src/layouts/head/Head.astro
Due: lint-biome, lint-ts, lint-markup

add202407191308
  .vscode/settings.json
  src/layouts/head/Head.astro
Due: lint-biome, lint-ts, lint-markup

add202407191511
  src/layouts/head/Head.astro
  src/layouts/head/types.ts
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407201107
  .vscode/settings.json
Due: lint-biome, lint-ts

add202407201151
  astro.config.mjs
  package-lock.json
  package.json
  src/env.d.ts
Due: lint-biome, lint-ts

add202407201627
  package-lock.json
  package.json
  src/content/blog/first-post.md
  src/content/blog/using-mdx.mdx
  src/content/config.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407201704
  .markuplintrc.mjs
  src/layouts/Layout.astro
  src/layouts/main/Main.astro
  src/pages/example.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407201729
  src/content/blog/second-post.mdx
  src/layouts/main/Main.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/example.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407201834
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407212044
  .vscode/settings.json
  src/content/authors/anonymous.json
  src/content/authors/hanako-suzuki.json
  src/content/authors/taro-yamada.json
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
  src/content/config.ts
  src/layouts/head/types.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407212054
  .markuplintrc.mjs
  src/layouts/Layout.astro
  src/layouts/main/Main.astro
Due: lint-biome, lint-ts, lint-markup

add202407221116
  src/layouts/Layout.astro
  src/layouts/bodyGTM/BodyGTM.astro
  src/layouts/head/types.ts
Due: lint-biome, lint-ts, lint-markup

add202407221126
  src/layouts/Layout.astro
Due: lint-biome, lint-ts, lint-markup

add202407221144
  .markuplintrc.mjs
  src/layouts/Layout.astro
Due: lint-biome, lint-ts, lint-markup

add202407221159
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202407221241
  src/content/config.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407221352
  .vscode/extensions.json
  .vscode/settings.json
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
Due: lint-biome, lint-ts

add202407221556
  src/assets/images/content/blog/first-post/ogp.png
  src/assets/images/content/blog/second-post/ogp.png
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: lint-biome, lint-ts, lint-markup

add202407221616
  src/assets/images/content/blog/first-post/ogp.png
  src/assets/images/content/blog/first-post/ogp.webp
  src/assets/images/content/blog/ogp.webp
  src/assets/images/content/blog/second-post/ogp.png
  src/assets/images/content/blog/second-post/ogp.webp
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
Due: lint-biome, lint-ts, lint-markup
