Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    format-biome:
      run: npx biome format ./src --write
    lint-biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint-ts:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx tsc --noEmit
    lint-astro:
      glob: '*.{astro}'
      run: npm run build # 親と子でpropsが不一致かつ子で型定義してないときに、astro checkだけだとパスしてしまうため、astro buildも追加
    lint-markup:
      glob: '*.{astro,tsx}'
      run: npm run lint:markup
    lint-eslint:
      run: npm run lint:eslint
    lint-text:
      run: npm run lint:text
    lint-markdown:
      run: npm run lint:markdown

add202412061813
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202412061826
  astro.config.mjs
Due: lint-biome, lint-ts

add202412061834
  .github/workflows/deploy.txt
Due: none

add202412061843
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202412061850
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202412071653
  astro.config.mjs
  package.json
  src/pages/ssr.astro
Due: lint-biome, lint-ts, lint-markup

add202412072022
  .gitignore
  .markuplintrc.mjs
  .vscode/settings.json
  astro.config.mjs
  biome.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/pages/ssr.astro
Due: lint-biome, lint-ts, lint-markup

add202412072039
  package-lock.json
  package.json
  src/pages/ssr.astro
Due: lint-biome, lint-ts, lint-markup

add202412072049
  src/pages/ssr.astro
Due: lint-biome, lint-ts, lint-markup

add202412072053
  src/pages/ssr.astro
Due: lint-biome, lint-ts, lint-markup

add202412072121
  src/pages/ssr.astro
Due: lint-biome, lint-ts, lint-markup

add202412072140
  astro.config.mjs
  src/pages/ssr.astro
Due: lint-biome, lint-ts, lint-markup

add202412072152
  package-lock.json
  package.json
  src/layouts/Layout.astro
Due: lint-biome, lint-ts, lint-markup

add202412072204
  src/layouts/Layout.astro
Due: lint-biome, lint-ts, lint-markup

add202412072223
  .gitignore
Due: none

add202412080052
  package-lock.json
  package.json
  src/pages/ssr.astro
  src/templates/ssr/Ssr.tsx
  src/templates/ssr/components/Child.tsx
Due: lint-biome, lint-ts, lint-markup

add202412081025
  package.json
Due: lint-biome, lint-ts

add202412081309
  panda.config.ts
Due: lint-biome, lint-ts

add202412112138
  src/components/input/Input.tsx
  src/components/input/types.ts
  src/pages/index.astro
  src/pages/panda.astro
  src/pages/register.astro
  src/templates/register/Register.tsx
  src/templates/register/types.ts
  src/templates/register/utils/validation.ts
Due: lint-biome, lint-ts, lint-markup

add202412121018
  package-lock.json
  package.json
  src/templates/register/Register.tsx
  src/templates/register/api.ts
Due: lint-biome, lint-ts, lint-markup

add202412121035
  src/templates/register/api.ts
Due: lint-biome, lint-ts

add202412121039
  src/templates/register/api.ts
Due: lint-biome, lint-ts

add202412121042
  src/templates/register/Register.tsx
Due: lint-biome, lint-ts, lint-markup

add202412121104
  src/templates/register/Register.tsx
  src/templates/register/api.ts
Due: lint-biome, lint-ts, lint-markup

add202412131930
  .vscode/settings.json
  src/pages/dashboard.astro
  src/pages/register.astro
  src/templates/dashboard/Dashboard.tsx
  src/templates/register/Register.tsx
  src/templates/register/api.ts
  src/templates/register/types.ts
Due: lint-biome, lint-ts, lint-markup

add202412192224
  panda.config.ts
  src/components/pagination/Pagination.astro
  src/components/pagination/styles.ts
  src/components/pagination/types.ts
  src/components/pagination/utils.ts
  src/layouts/Layout.astro
Due: lint-biome, lint-ts, lint-markup

add202412192249
  src/components/category/Category.astro
  src/components/category/types.ts
Due: lint-biome, lint-ts, lint-markup

add202412192331
  src/templates/blog/page/BlogPage.astro
Due: lint-biome, lint-ts, lint-markup

add202412192334
  src/layouts/aside/Aside.astro
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202412200038
  src/templates/blog/page/BlogPage.astro
  src/templates/blog/page/types.ts
Due: lint-biome, lint-ts, lint-markup

add202412200115
  src/templates/blog/slug/BlogSlug.astro
  src/templates/blog/slug/types.ts
Due: lint-biome, lint-ts, lint-markup

add202412201742
  src/components/pagination/Pagination.astro
  src/components/pagination/styles.ts
  src/components/pagination/types.ts
  src/components/pagination/utils.ts
Due: lint-biome, lint-ts, lint-markup

add202412201809
  src/components/pagination/Pagination.astro
Due: lint-biome, lint-ts, lint-markup

add202412202115
  src/components/pagination/styles.ts
Due: lint-biome, lint-ts

add202412202329
  .vscode/settings.json
Due: lint-biome, lint-ts

add202412210058
  eslint.config.mjs
Due: lint-biome, lint-ts

add202412211829
  eslint.config.mjs
  src/components/pagination/styles.ts
  src/config/panda/creators/globalStyles.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup

add202412211841
  src/config/panda/creators/globalStyles.ts
Due: lint-biome, lint-ts

add202412211848
  src/config/panda/creators/globalStyles.ts
Due: lint-biome, lint-ts

add202412212223
  eslint.config.mjs
  src/components/pagination/styles.ts
  src/pages/panda.astro
Due: lint-biome, lint-ts, lint-markup
