Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    format-biome:
      run: npx biome format ./src --write
    lint-biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint-ts:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx tsc --noEmit
    lint-astro:
      glob: '*.{astro}'
      run: npm run astro check
    lint-markup:
      glob: '*.{astro,tsx}'
      run: npm run lint:markup

add202408171733
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
  src/content/config.ts
Due: lint-biome, lint-ts

add202408171735
  src/content/blog/second-post.mdx
Due: none

add202408171737
  src/content/blog/second-post.mdx
Due: none

add202408172354
  src/content/authors/anonymous.json
  src/content/authors/taro-yamada.json
  src/content/config.ts
  src/layouts/head/types.ts
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408172358
  src/content/authors/taro-yamada.json
Due: lint-biome, lint-ts

add202408180923
  src/content/authors/hanako-suzuki.json
  src/content/authors/taro-yamada.json
  src/content/config.ts
Due: lint-biome, lint-ts

add202408181053
  src/content/blog/first-post.md
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408181128
  src/content/authors/hanako-suzuki.json
  src/content/authors/taro-yamada.json
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
  src/content/config.ts
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408181150
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408181156
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408182005
  src/content/authors/hanako-suzuki.json
  src/content/authors/taro-yamada.json
  src/content/config.ts
Due: lint-biome, lint-ts

add202408182027
  .markdownlint.jsonc
  .markuplintrc.mjs
  src/components/toc/Toc.tsx
  src/components/toc/types.ts
  src/content/blog/second-post.mdx
  src/pages/blog/[...slug].astro
Due: lint-biome, lint-ts, lint-markup

add202408191018
  src/content/authors/hanako-suzuki.json
Due: lint-biome, lint-ts

add202408241222
  src/content/authors/hanako-suzuki.json
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
Due: lint-biome, lint-ts

add202408241305
  src/content/authors/saki-suzuki.json
  src/content/blog/second-post.mdx
Due: lint-biome, lint-ts

add202408241311
  lefthook.yml
Due: none

add202408241419
  src/content/blog/fifth-post.mdx
  src/content/blog/fourth-post.mdx
  src/content/blog/third-post.mdx
Due: none

add202408241948
  .markuplintrc.mjs
  src/components/pagination/Pagination.astro
  src/components/pagination/types.ts
  src/content/blog/eighth-post.mdx
  src/content/blog/ninth-post.mdx
  src/content/blog/seventh-post.mdx
  src/content/blog/sixth-post.mdx
  src/content/blog/tenth-post.mdx
  src/pages/blog/[page].astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202408250953
  src/components/atomics/carousel/Carousel.tsx
  src/components/atomics/clipboard/Clipboard.tsx
  src/components/atomics/colorPicker/ColorPicker.tsx
  src/components/atomics/combobox/Combobox.tsx
  src/components/atomics/datePicker/DatePicker.tsx
  src/components/atomics/dialog/Dialog.tsx
  src/components/atomics/drawer/Drawer.tsx
  src/components/atomics/fileUpload/FileUpload.tsx
  src/components/atomics/iconButton/IconButton.tsx
  src/components/atomics/index.ts
  src/components/atomics/pagination/Pagination.tsx
  src/components/atomics/popover/Popover.tsx
  src/components/atomics/tagsInput/TagsInput.tsx
  src/components/atomics/toast/Toast.tsx
  src/components/ui/icon-button.tsx
  src/components/ui/pagination.tsx
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202408251025
  package-lock.json
Due: lint-biome, lint-ts

add202408271136
  src/components/pagination/Pagination.astro
Due: lint-biome, lint-ts, lint-markup

add202408291704
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202408301724
  src/content/blog/eleventh-post.mdx
  src/content/blog/fifth-post.mdx
  src/content/blog/first-post.md
  src/content/blog/sixth-post.mdx
  src/content/blog/third-post.mdx
  src/content/blog/twelfth-post.mdx
Due: none

add202408301725
  src/content/blog/second-post.mdx
Due: none

add202408311316
  src/pages/blog/[page].astro
Due: lint-biome, lint-ts, lint-markup

add202408312008
  .markuplintrc.mjs
  .vscode/settings.json
  src/components/category/Category.astro
  src/components/category/types.ts
  src/content/blog/eighth-post.mdx
  src/content/blog/eleventh-post.mdx
  src/content/blog/fifth-post.mdx
  src/content/blog/fourth-post.mdx
  src/content/blog/ninth-post.mdx
  src/content/blog/second-post.mdx
  src/content/blog/seventh-post.mdx
  src/content/blog/sixth-post.mdx
  src/content/blog/tenth-post.mdx
  src/content/blog/third-post.mdx
  src/content/blog/twelfth-post.mdx
  src/content/config.ts
  src/layouts/Layout.astro
  src/layouts/aside/Aside.astro
  src/layouts/aside/types.ts
  src/pages/blog/[page].astro
Due: lint-biome, lint-ts, lint-markup

add202408312351
  src/components/category/Category.astro
  src/components/category/types.ts
  src/layouts/aside/Aside.astro
  src/layouts/aside/types.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/[page].astro
Due: lint-biome, lint-ts, lint-markup

add202409011431
  src/content/blog/fifth-post.mdx
  src/content/blog/third-post.mdx
  src/layouts/Layout.astro
  src/layouts/footer/Footer.astro
  src/layouts/header/Header.astro
  src/pages/blog/[categorySlug]/[page].astro
  src/pages/blog/[slug].astro
Due: lint-biome, lint-ts, lint-markup

add202409021918
  src/pages/blog/[slug].astro
Due: lint-biome, lint-ts, lint-markup

add202409061908
  src/components/category/Category.astro
  src/components/category/utils.ts
  src/components/pagination/Pagination.astro
  src/components/pagination/types.ts
  src/components/pagination/utils.ts
  src/pages/blog/[page].astro
Due: lint-biome, lint-ts, lint-markup

add202409061948
  src/components/toc/Toc.tsx
Due: lint-biome, lint-ts, lint-markup

add202409061956
  src/components/toc/Toc.tsx
  src/components/toc/utils.ts
Due: lint-biome, lint-ts, lint-markup

add202409071134
  src/pages/blog/[categorySlug]/[page].astro
Due: lint-biome, lint-ts, lint-markup

add202409071151
  package-lock.json
  package.json
  src/components/atomics/heading/Heading.tsx
  src/components/atomics/hoverCard/HoverCard.tsx
  src/components/atomics/index.ts
  src/components/atomics/menu/Menu.tsx
  src/components/atomics/text/Text.tsx
Due: lint-biome, lint-ts, lint-markup

add202409071156
  src/pages/example.astro
Due: lint-biome, lint-ts, lint-markup

add202409071944
  src/pages/blog/[page].astro
  src/templates/blog/page/BlogPage.astro
  src/templates/blog/page/types.ts
  src/templates/blog/page/utils.ts
Due: lint-biome, lint-ts, lint-markup

add202409081013
  src/pages/blog/[categorySlug]/[page].astro
  src/pages/blog/[page].astro
  src/pages/blog/[slug].astro
  src/utils/content.ts
Due: lint-biome, lint-ts, lint-markup

add202409081124
  src/pages/blog/[slug].astro
  src/templates/blog/slug/BlogSlug.astro
  src/templates/blog/slug/types.ts
  src/templates/blog/slug/utils.ts
Due: lint-biome, lint-ts, lint-markup

add202409081434
  src/pages/blog/[slug].astro
  src/utils/content.ts
Due: lint-biome, lint-ts, lint-markup

add202409081453
  src/pages/blog/[slug].astro
  src/utils/content.ts
Due: lint-biome, lint-ts, lint-markup
