Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    format-biome:
      run: npx biome format ./src --write
    lint-biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint-ts:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}'
      run: npx tsc --noEmit
    lint-astro:
      glob: '*.{astro}'
      run: npm run build # 親と子でpropsが不一致かつ子で型定義してないときに、astro checkだけだとパスしてしまうため、astro buildも追加
    lint-markup:
      glob: '*.{astro,tsx}'
      run: npm run lint:markup
    lint-eslint:
      run: npm run lint:eslint
    lint-text:
      run: npm run lint:text
    lint-markdown:
      run: npm run lint:markdown

add202505281335
  src/components/media/utils.ts
Due: lint-biome, lint-ts

add202505281426
  src/assets/images/content/authors/anonymous/general.webp
  src/components/media/utils.ts
Due: lint-biome, lint-ts

add202505281441
  src/components/media/utils.ts
Due: lint-biome, lint-ts

add202505311354
  src/components/avatar/styles.ts
Due: lint-biome, lint-ts

add202506012158
  src/components/avatar/avatar.astro
  src/components/avatar/styles.ts
  src/components/avatar/types.ts
Due: lint-biome, lint-ts, lint-markup

add202506012227
  src/components/avatar/styles.ts
  src/components/avatar/types.ts
  src/components/list/styles.ts
  src/components/list/types.ts
  src/components/pagination/styles.ts
  src/components/pagination/types.ts
  src/components/radio/styles.ts
  src/components/radio/types.ts
  src/components/radioGroupOrTabs/styles.ts
  src/components/radioGroupOrTabs/types.ts
Due: lint-biome, lint-ts

add202506012249
  src/components/Card.astro
  src/components/app.tsx
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202506030931
  package.json
Due: lint-biome, lint-ts

add202506031013
  panda.config.ts
  src/components/pagination/styles.ts
Due: lint-biome, lint-ts

add202506031018
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202506031034
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202506031201
  .markdownlint.jsonc
Due: lint-biome, lint-ts

add202506031302
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202506031444
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202506061722
  src/components/avatar/avatar.astro
  src/components/avatar/styles.ts
  src/components/avatar/types.ts
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202506072112
  src/components/avatar/avatar.astro
  src/components/avatar/styles.ts
Due: lint-biome, lint-ts, lint-markup

add202506081218
  src/components/avatar/avatar.astro
  src/components/avatar/styles.ts
Due: lint-biome, lint-ts, lint-markup

add202506081800
  src/components/avatar/avatar.astro
  src/components/avatar/styles.ts
Due: lint-biome, lint-ts, lint-markup

add202506111038
  src/components/avatar/avatar.astro
Due: lint-biome, lint-ts, lint-markup

add202506132318
  src/assets/icons/home.svg
  src/assets/icons/index.ts
  src/assets/icons/menu.svg
  src/assets/icons/search.svg
  src/pages/icon.astro
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202506132334
  src/assets/icons/home-fill.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506132357
  src/assets/icons/close.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506140843
  src/assets/icons/close.svg
  src/assets/icons/home-fill.svg
  src/assets/icons/home.svg
  src/assets/icons/index.ts
  src/assets/icons/menu.svg
  src/assets/icons/search.svg
  src/assets/icons/settings.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141033
  src/assets/icons/index.ts
  src/assets/icons/settings-fill.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141049
  src/assets/icons/check-circle.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141056
  src/assets/icons/home-fill.svg
  src/assets/icons/home.svg
  src/assets/icons/menu.svg
  src/assets/icons/search.svg
  src/assets/icons/settings-fill.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141101
  src/assets/icons/check-circle-fill.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141117
  src/assets/icons/delete.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141122
  src/assets/icons/delete-fill.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141139
  src/assets/icons/arrow-back.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add2020506141848
  src/assets/icons/index.ts
  src/assets/icons/star-fill.svg
  src/assets/icons/star.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141900
  src/assets/icons/chevron-right.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506141949
  src/assets/icons/add.svg
  src/assets/icons/favorite-fill.svg
  src/assets/icons/favorite.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506142015
  src/assets/icons/index.ts
  src/assets/icons/logout.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506142029
  src/assets/icons/arrow-forward-iOS.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506142047
  src/assets/icons/add-circle-fill.svg
  src/assets/icons/add-circle.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506142117
  src/assets/icons/cancel-fill.svg
  src/assets/icons/cancel.svg
  src/assets/icons/index.ts
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506150827
  src/assets/icons/arrow-back-iOS.svg
  src/assets/icons/arrow-drop-down.svg
  src/assets/icons/arrow-forward.svg
  src/assets/icons/check-box-fill.svg
  src/assets/icons/check-box.svg
  src/assets/icons/check.svg
  src/assets/icons/index.ts
  src/assets/icons/more-vert.svg
  src/assets/icons/open-in-new.svg
  src/assets/icons/toggle-on-fill.svg
  src/assets/icons/toggle-on.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506151142
  .vscode/settings.json
  src/assets/icons/apps.svg
  src/assets/icons/check-box-outline-blank.svg
  src/assets/icons/chevron-left.svg
  src/assets/icons/download.svg
  src/assets/icons/index.ts
  src/assets/icons/login.svg
  src/assets/icons/more-horiz.svg
  src/assets/icons/radio-button-unchecked.svg
  src/assets/icons/refresh.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup

add202506160814
  .vscode/settings.json
  src/assets/icons/add-box-fill.svg
  src/assets/icons/add-box.svg
  src/assets/icons/arrow-back-iOS-new.svg
  src/assets/icons/arrow-circle-right-fill.svg
  src/assets/icons/arrow-circle-right.svg
  src/assets/icons/arrow-downward.svg
  src/assets/icons/arrow-right-alt.svg
  src/assets/icons/arrow-upward.svg
  src/assets/icons/autorenew.svg
  src/assets/icons/backspace-fill.svg
  src/assets/icons/backspace.svg
  src/assets/icons/block.svg
  src/assets/icons/bolt-fill.svg
  src/assets/icons/bolt.svg
  src/assets/icons/delete-forever-fill.svg
  src/assets/icons/delete-forever.svg
  src/assets/icons/expand-circle-down-fill.svg
  src/assets/icons/expand-circle-down.svg
  src/assets/icons/filter-alt-fill.svg
  src/assets/icons/filter-alt.svg
  src/assets/icons/filter-list.svg
  src/assets/icons/index.ts
  src/assets/icons/key-fill.svg
  src/assets/icons/key.svg
  src/assets/icons/menu-open.svg
  src/assets/icons/radio-button-checked.svg
  src/assets/icons/remove.svg
  src/assets/icons/restart-alt.svg
  src/assets/icons/shopping-cart-checkout.svg
  src/assets/icons/sort.svg
  src/assets/icons/sync.svg
  src/assets/icons/toggle-off-fill.svg
  src/assets/icons/toggle-off.svg
  src/assets/icons/undo.svg
  src/pages/icon.astro
Due: lint-biome, lint-ts, lint-markup
