Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lint-biome:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

lint-ts:
  run: npx tsc --noEmit

lint-astro:
  run: npm run astro check

lint-markup:
  run: npm run lint:markup

add202409081822
  src/pages/blog/[categorySlug]/[page].astro
  src/templates/blog/page/BlogPage.astro
  src/templates/blog/page/types.ts
  src/utils/content.ts
Due: lint-biome, lint-ts, lint-markup

add202409141047
  .github/workflows/deploy.yml
  .vscode/extensions.json
  astro.config.mjs
Due: lint-biome, lint-ts

add202409141122
  .github/workflows/deploy.yml
Due: none

add202409141143
  package.json
Due: lint-biome, lint-ts

add202409141152
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202409141206
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202409141210
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202409141219
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202409141231
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141245
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141301
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141306
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141318
  src/content/blog/eighth-post.mdx
  src/content/blog/eleventh-post.mdx
  src/content/blog/fifth-post.mdx
  src/content/blog/fourth-post.mdx
  src/content/blog/ninth-post.mdx
  src/content/blog/second-post.mdx
  src/content/blog/seventh-post.mdx
  src/content/blog/sixth-post.mdx
  src/content/blog/tenth-post.mdx
  src/content/blog/third-post.mdx
  src/content/blog/twelfth-post.mdx
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141324
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141330
  src/content/blog/eighth-post.mdx
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141337
  src/content/blog/eighth-post.mdx
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141348
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141403
  .github/workflows/deploy.yml
Due: none

add202409141405
  .github/workflows/deploy.yml
Due: none

add202409141410
  .github/workflows/deploy.yml
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141415
  .github/workflows/deploy.yml
Due: none

add202409141428
  src/components/toc/TOC.tsx
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141436
  .github/workflows/deploy.yml
  src/content/blog/eighth-post.mdx
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409141439
  src/content/blog/eleventh-post.mdx
  src/content/blog/fifth-post.mdx
  src/content/blog/fourth-post.mdx
  src/content/blog/ninth-post.mdx
  src/content/blog/second-post.mdx
  src/content/blog/seventh-post.mdx
  src/content/blog/sixth-post.mdx
  src/content/blog/tenth-post.mdx
  src/content/blog/third-post.mdx
  src/content/blog/twelfth-post.mdx
Due: none

add202409141600
  astro.config.mjs
Due: lint-biome, lint-ts

add202409141604
  astro.config.mjs
Due: lint-biome, lint-ts

add202409141917
  astro.config.mjs
  src/components/category/Category.astro
  src/components/pagination/Pagination.astro
  src/constants/url.ts
  src/layouts/head/Head.astro
  src/pages/example.astro
  src/pages/index.astro
  src/pages/robots.txt.ts
  src/templates/blog/page/BlogPage.astro
Due: lint-biome, lint-ts, lint-markup

add202409151353
  public/ogp/blog/first-post.webp
  public/ogp/blog/general.webp
  public/ogp/blog/second-post.webp
  src/content/blog/first-post.md
  src/content/blog/second-post.mdx
  src/content/config.ts
  src/layouts/head/Head.astro
  src/layouts/head/types.ts
  src/pages/blog/[categorySlug]/[page].astro
  src/pages/blog/[page].astro
  src/pages/blog/[slug].astro
  src/templates/blog/page/BlogPage.astro
  src/templates/blog/slug/BlogSlug.astro
Due: lint-biome, lint-ts, lint-markup

add202409151448
  biome.json
  src/components/toc/TOC.tsx
Due: lint-biome, lint-ts, lint-markup

add202409151449
  biome.json
Due: lint-biome, lint-ts

add202409151451
  biome.json
  src/components/toc/TOC.tsx
Due: lint-biome, lint-ts, lint-markup

add202409151508
  .vscode/settings.json
Due: lint-biome, lint-ts

add202409151533
  .vscode/settings.json
Due: lint-biome, lint-ts

add202409160833
  .markuplintrc.mjs
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202409161742
  .markuplintrc.mjs
  src/layouts/Layout.astro
Due: lint-biome, lint-ts, lint-markup

add202409161746
  .markuplintrc.mjs
Due: lint-biome, lint-ts

add202409181207
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

Path conditions:
  lint-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  lint-ts: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  lint-astro: any of: *.{astro}
  lint-markup: any of: *.{astro,tsx}
