Repository takayuki-cycle/astro-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, lint-ts, lint-astro, lint-markup

lint-biome:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

lint-ts:
  run: npx tsc --noEmit

lint-astro:
  run: npm run build

lint-markup:
  run: npm run lint:markup

add202401071411
  src/components/radio/styles.ts
Due: lint-biome, lint-ts

add202401071443
  src/components/radioOrTabGroup/RadioOrTabGroup.astro
  src/components/radioOrTabGroup/styles.ts
  src/components/radioOrTabGroup/types.ts
  src/templates/todos/components/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202401071450
  src/components/radioGroupOrTabs/RadioGroupOrTabs.astro
  src/components/radioGroupOrTabs/styles.ts
  src/components/radioGroupOrTabs/types.ts
  src/templates/todos/components/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202401091521
  src/components/radioGroupOrTabs/RadioGroupOrTabs.astro
  src/components/radioGroupOrTabs/styles.ts
  src/components/radioGroupOrTabs/types.ts
  src/config/panda/creators/globalStyles.ts
  src/templates/todos/components/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202401091944
  .markuplintrc.mjs
Due: lint-biome, lint-ts

add202401092007
  src/templates/todos/components/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202401092007
  package.json
Due: lint-biome, lint-ts

add202401111141
  panda.config.ts
Due: lint-biome, lint-ts

add202401111155
  src/layouts/head/HeadGTM.html
Due: none

add202401111210
  README.md
Due: none

add202401111959
  src/templates/todos/api.ts
  src/templates/todos/components/Index.astro
Due: lint-biome, lint-ts, lint-markup

add202401112019
  src/templates/todos/api.ts
Due: lint-biome, lint-ts

add202401131739
  src/templates/todos/components/Index.astro
  src/templates/todos/components/fetch/FetchRadioGroupOrTabs.astro
Due: lint-biome, lint-ts, lint-markup

add202501151427
  eslint.config.mjs
  panda.config.ts
  src/components/radio/Radio.tsx
  src/components/radio/styles.ts
  src/components/radioGroupOrTabs/RadioGroupOrTabs.astro
  src/components/radioGroupOrTabs/styles.ts
  src/components/radioGroupOrTabs/types.ts
  src/config/panda/creators/animationNames.ts
  src/templates/todos/components/Index.astro
  src/templates/todos/components/fetch/FetchRadioGroupOrTabs.astro
Due: lint-biome, lint-ts, lint-markup

add202401172343
  package-lock.json
  package.json
Due: lint-biome, lint-ts

add202501181246
  src/pages/500.astro
Due: lint-biome, lint-ts, lint-markup

add202501221505
  package-lock.json
  src/pages/404.astro
Due: lint-biome, lint-ts, lint-markup

add202501221509
  src/pages/404.astro
Due: lint-biome, lint-ts, lint-markup

add202501261103
  panda.config.ts
Due: lint-biome, lint-ts

add202503082128
  package.json
Due: lint-biome, lint-ts

add202503090942
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202505021026
  package.json
  src/pages/index.astro
Due: lint-biome, lint-ts, lint-markup

add202505021109
  .vscode/extensions.json
Due: lint-biome, lint-ts

add202505041737
  src/layouts/head/Head.astro
Due: lint-biome, lint-ts, lint-markup

add202505050959
  src/layouts/head/Head.astro
Due: lint-biome, lint-ts, lint-markup

add202505070932
  .github/pull_request_template.md
  .textlintrc.js
Due: lint-biome, lint-ts

add202505070948
  .github/pull_request_template.md
Due: none

add202505070952
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202505071546
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202505071605
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202505081426
  .github/PULL_REQUEST_TEMPLATE.md
  .textlintrc.js
  src/assets/images/prTemp/currentPage1.webp
  src/assets/images/prTemp/currentPage12.webp
  src/assets/images/prTemp/currentPage2.webp
  src/assets/images/prTemp/currentPage5.webp
  src/assets/images/prTemp/currentPage6.webp
  src/assets/images/prTemp/currentPage8.webp
Due: lint-biome, lint-ts

add202505081432
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202505081646
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202505081652
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add202505120946
  src/assets/images/page/car.png
  src/assets/images/page/living.png
Due: none

add202505140454
  .vscode/settings.json
  src/assets/images/content/authors/anonymous/general.webp
  src/components/avatar/avatar.astro
  src/components/avatar/types.ts
  src/components/avatar/utils.ts
  src/components/media/image/Image.astro
  src/components/media/picture/Picture.astro
  src/components/media/utils.ts
  src/pages/img.astro
Due: lint-biome, lint-ts, lint-markup

add202505270752
  .markuplintrc.mjs
  eslint.config.mjs
  panda.config.ts
  src/assets/images/content/authors/anonymous/general.webp
  src/assets/images/content/authors/anonymous/test1.png
  src/assets/images/content/authors/anonymous/test2.png
  src/components/avatar/avatar.astro
  src/components/avatar/styles.ts
  src/components/avatar/types.ts
  src/components/avatar/utils.ts
  src/components/list/List.astro
  src/components/list/styles.ts
  src/components/list/types.ts
  src/config/panda/creators/globalStyles.ts
  src/layouts/head/Head.astro
  src/pages/img.astro
  src/templates/register/utils/validation.ts
Due: lint-biome, lint-ts, lint-markup

add202505271815
  src/assets/images/content/authors/anonymous/general.webp
  src/components/avatar/avatar.astro
  src/components/avatar/styles.ts
  src/components/avatar/utils.ts
Due: lint-biome, lint-ts, lint-markup

add202505271913
  src/components/avatar/styles.ts
Due: lint-biome, lint-ts

add202505281008
  src/assets/images/content/authors/anonymous/general.webp
  src/components/avatar/styles.ts
  src/layouts/Layout.astro
Due: lint-biome, lint-ts, lint-markup

Path conditions:
  lint-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  lint-ts: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}
  lint-astro: any of: *.{astro}
  lint-markup: any of: *.{astro,tsx}
